{% extends 'calendar/base.html' %}

{%  block title %}
    <h2>Address Book</h2>
{% endblock %}

{% block content %}
    <div class="clearfix">
      <a class="btn btn-info left" href="{% url 'schedule_calendar:calendar' %}"> Calendar </a>
    </div>
    {% include 'calendar/messages.html' %}
    <div class="container-fluid col-lg-12">
        <div class="row">
            <div class="container-fluid col-lg-6" id="left-side">
                <table class="table-responsive table-bordered">
                    <thead>
                        <tr>
                            <td>Avatar</td>
                            <td>Username</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Email</td>
                            <td>Street Address</td>
                            <td>City</td>
                            <td>State</td>
                            <td>Zipcode</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact, profile, address in contacts %}
                            <tr>
                                <td><img src="{{ profile.avatar_url }}"/></td>
                                <td>{{ contact.username }}</td>
                                <td>{{ contact.first_name }}</td>
                                <td>{{ contact.last_name }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ address.street_address }}</td>
                                <td>{{ address.city }}</td>
                                <td>{{ address.state }}</td>
                                <td>{{ address.zipcode }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="container-fluid col-lg-6 id=right-side">
                <form action="{% url 'schedule_calendar:address_book' check_user=True %}" method="post">
                    {% csrf_token %}
                    <label for="email">Enter the email of the user you would like to add to your addressbook.</label><br>
                    {{ form }}
                    <button type="submit">Look Up User</button>
                </form>

                {% if user_exists %}
                    <form action="{% url 'schedule_calendar:address_book' check_user=False %}" method="post">
                        {% csrf_token %}
                        <label for="email">User exists would you like to add them to your addressbook?</label><br>
                        <button type="submit">Add User</button>
                    </form>
                {% elif user_not_exists %}
                    <form action="{% url 'schedule_calendar:address_book' check_user=True %}" method="post" >
                        {% csrf_token %}
                        <label for="email">Enter the email of the user you would like to add to your addressbook.</label><br>
                        {{ form }}
                        <button type="submit">Look Up User</button>
                    </form>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}